{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="POST" class="post-form" action="/add">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Enter Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Post Id:</label>
            <div class="col-sm-4">
                {{ form.id }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-4">
                {{ form.text }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Likes:</label>
            <div class="col-sm-4">
                {{ form.likes }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Image:</label>
            <div class="col-sm-4">
                {{ form.image_url }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

{% endblock content %}